<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/categories"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Categoria: {{products[0]?.category}} 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let product of products" (click)="detail(product.id)">
      <ion-label>
        Id: {{product.id}} 
      </ion-label>
      <ion-label>
        Titulo: {{product.title}}
      </ion-label>
      <ion-label>
        Categoria: {{product.category}}
      </ion-label>
      <ion-label>
        Precio: ${{product.price}}
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>